body {
	margin: 0;
	padding: 0;
	background: #004ff9;
	background: -webkit-linear-gradient(to left, #fff94c, #004ff9);
	background: linear-gradient(to left, #fff94c, #004ff9);
}

* {
	font-family: @import
		url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* padding-bottom: 25px; */
}
header nav a {
	display: inline-block;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	transition: all 300ms ease;
}

header nav a:hover {
	background-color: #ddd;
	color: #222;
}

.buttons {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	transition: all 300ms ease;
	background: #ece9e6;
	border: none;
	position: absolute;
	height: 25%;
	top: 30%;
}
.buttons:hover {
	background-color: rosybrown;
}
.next {
	right: 0;
	/* top: 50%; */
}
.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.previous {
	left: 0;
	/* top: 50%; */
}
.country {
	flex-basis: 33%;
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	text-align: center;
}
.country img {
	margin: auto;
	max-height: 250px;
	max-width: 200px;
}
.country h3 {
	margin: 0;
	margin-top: 1.5rem;
}

.country-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.country-image img {
	/* height: 50%; */
	width: 100%;
	height: auto;
	max-height: 75vh;
	object-fit: cover;
}
.pixabay-logo-link img {
	max-height: 25px;
	position: absolute;
	top: 10vh;
	right: 5vh;
}
